{% include 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-2">
        <h2> Training </h2>
    </div>
    {% if training_type == "all" %}
        <div class="col-md-2">
            <a href="{% url 'training:add_expert_training' %}" class="btn btn-primary"> + Expert Training</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'training:add_beginner_training' %}" class="btn btn-success"> + Beginner Training</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'training:add_intermediate_training' %}" class="btn btn-info"> + Intermediate Training</a>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-warning"> View Graph</a>
        </div>
    {% elif training_type == "expert" %}
        <div class="col-md-2">
            <a href="{% url 'training:add_expert_training' %}" class="btn btn-primary"> + Expert Training</a>
        </div>
        <div class="col-md-2">
            <a href="{% url 'training:expert_training_graph' %}" class="btn btn-warning"> View Graph</a>
        </div>
    {% elif training_type == "begginer" %}
        <div class="col-md-2">
            <a href="{% url 'training:add_beginner_training' %}" class="btn btn-success"> + Beginner Training</a>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-warning"> View Graph</a>
        </div>
    {% elif training_type == "intermediate" %}
        <div class="col-md-2">
            <a href="{% url 'training:add_intermediate_training' %}" class="btn btn-info"> + Intermediate Training</a>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-warning"> View Graph</a>
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> # </th>
                    <th> Trainer </th>
                    <th> Trainee </th>
                    <th> Training Start Time </th>
                    <th> Training End Time </th>
                    <th> Date </th>
                    <th> Training Type </th>
                </tr>
            </thead>
            <tbody>
                {% for training in trainings %}
                <tr>
                    <td> {{forloop.counter}} </td>
                    <td> {{training.trainer}} </td>
                    <td> {{training.trainee}} </td>
                    <td> {{training.start_time}} </td>
                    <td> {{training.end_time}} </td>
                    <td> {{training.training_date}} </td>
                    <td> {{training.training_type}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}