{% include 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-1"> <b> Key: </b> </div>

    <div class="col-md-1"> Trainer: </div>
    <div class="col-md-1" style="background: #335bff; color: #335bff;"> Trainer </div>

    <div class="col-md-1"> </div>
    <div class="col-md-1"> Trainee: </div> 
    <div class="col-md-1" style="background: #05a414; color: #05a414;"> Trainee </div>

    <div class="col-md-1"></div>
    <div class="col-md-1"> Edge: </div>
    <div class="col-md-1" style="background: #F00; color: #F00;"> Edge </div>
    
</div>
<div class="row">
    <div class="col-md-12">
    {% include 'intermediate_graph_creation.html' %}
    </div>
</div>
{% endblock %}